/* suggestbar.css */

.SuggestBar {
  display: flex;
  flex-direction: column;
  width: 100%; /* Adjust as needed */
}

.SuggestBar h2 {
  font-size: 24px;
  margin-bottom: -2px;
}

.SuggestBar ul {
  list-style: none;
  padding: 0;
}

.SuggestBar ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

.custom-input {
  margin: 2px;
  margin-left: 6px;
}

.tab-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.tab-content {
  display: flex;
  flex-direction: row-reverse; /* Align items from right to left */
  gap: 10px;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.9s ease, opacity 0.5s ease;
  margin-top: 20px; /* Add margin to appear lower */
}

.tab-content.open {
  max-height: 260px; /* Adjust this value based on your content's maximum height */
  opacity: 1;
}

.tab-content.closed {
  max-height: 0;
  opacity: 0;
}

.input_suggest {
  display: flex;
  flex-direction: column;
  width: 300px; /* Fixed width for consistency */
  border: solid 1px #ddd;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: hidden;
  background: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  padding: 15px;
}

.input_suggest label {
  display: flex;
  flex-direction: column;
}

.input_suggest input {
  border: solid 1px #ddd;
  border-radius: 8px;
  font-weight: 200;
  background: transparent;
  padding: 5px;
  margin-top: 5px;
}

.input_suggest button {
  margin-top: 10px;
  align-self: flex-start;
}



.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 2x; /* Adjust the space between the buttons as needed */
}
