/* index.css */
/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf1e0;
    color: #777777;
    display: flex;
}



.app-container {
    display: flex;
    flex-direction: row; /* Align sidebar and main content horizontally */
}

.app-container .main-content {
    flex: 1; /* Allow main content to grow */
}

.app::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -100px;
    right: -70px;
    bottom: 65px;
    background: linear-gradient(to right, #fce1af, #faf1e000);
    z-index: -5;
    filter: blur(20px); /* Adjust the blur for the glow effect */
}
